
<div class="bgded overlay row4">
    <footer id="footer" class="hoc clear"> 
       <div class="center btmspace-50">
        <h6 class="heading">Shiny Made</h6>
        <ul class="faico clear">
          <li><a class="faicon-dribble" target="_blank" href="//usounoul.com/4/4539755"><i class="fab fa-dribbble"></i></a></li>
          <li><a class="faicon-facebook" target="_blank" href="//usounoul.com/4/4539755"><i class="fab fa-facebook"></i></a></li>
          <li><a class="faicon-google-plus" target="_blank" href="//usounoul.com/4/4539755"><i class="fab fa-google-plus-g"></i></a></li>
          <li><a class="faicon-linkedin" target="_blank" href="//usounoul.com/4/4539755"><i class="fab fa-linkedin"></i></a></li>
          <li><a class="faicon-twitter" target="_blank" href="//usounoul.com/4/4539755"><i class="fab fa-twitter"></i></a></li>
          <li><a class="faicon-vk" target="_blank" href="//usounoul.com/4/4539755"><i class="fab fa-vk"></i></a></li>
        </ul>
        <p class="nospace">Where <i>glittery</i> delicacies are made</p>
      </div>
           <hr class="btmspace-50">
    </footer>
  </div>
   <div class="wrapper row5">
    <div id="copyright" class="hoc clear"> 
       <p class="fl_left">Copyright &copy; 2021 Shiny Made - All Rights Reserved</p>
     </div>
  </div>
  <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a> 
  <!-- JAVASCRIPTS -->
  <script src="./assets/scripts/jquery.min.js"></script>
  <script src="./assets/scripts/jquery.backtotop.js"></script>
  <script src="./assets/scripts/jquery.mobilemenu.js"></script>
  <!-- Propellor Ads -->
  <script async="async" data-cfasync="false" src="//upgulpinon.com/1?z=4539703"></script>

</body>
  </html>