<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8" />
    <!-- Google ADsense -->
    <script data-ad-client="ca-pub-2314500224309004" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- googlefonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Copse&display=swap" rel="stylesheet" />
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/2c2aaca7e9.js" crossorigin="anonymous"></script>
    {% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap"
      as="style"
      type="text/css"
      crossorigin
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#157878" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"
    />
    {% include head-custom.html %}
    <link rel="icon" href="assets/images/favicon.ico" />
  </head>
  <body>
  

    <nav class="side-nav">
      <div class="side-nav-item"><a href="/"><i class="fas fa-home"></i></a></div>
      <div class="side-nav-item"><a href="{{page.previous.url}}"><i class="fas fa-chevron-circle-left"></i></a></div>
      <div class="side-nav-item"><a href="{{page.next.url}}"><i class="fas fa-chevron-circle-right"></i></a></div>
    </nav>