<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
---- Include the above in your HEAD tag -------- -->

<div class= "hoc container clear">
<div class= "three_quarter first">
    <section class="newsletter">
<div class="news-container">
	<div class="news-content">
		<p>SUBSCRIBE TO MY NEWSLETTER</p>
	<form action="https://formsubmit.co/113c43215f45f28c27ead7324e8af685" method="POST" class="input-group">
         <input type="email" size="70" class="news-form-control" placeholder="Enter your email" name= "email">
         <span class="input-group-btn">
            <input type="hidden" name= "_captcha" value= "false">
         <input type="hidden" name="_next" value="https://shiny-made.github.io/bswehcf-c{{page.description}}">
         <button onClick= "alert('Thank You')" class="btn" type="submit">Subscribe Now</button>
         </span>
        </form>
	</div>
</div>
</section>
</div>
</div>