---
---

@import "{{ site.theme }}";

html {
  background-color: black;
  color: #82443d;
}

h1 {
  color: black;
}
.main-content {
  margin-left: 0;
  padding-top: 0;
}

.project-name {
  text-align: left;
}

.project-name:hover{
  cursor: pointer;
  opacity: 0.8;
}


#project-tagline {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 60px;
  line-height: 120px;
  color: black;
  font-family: "Copse", serif;
  font-weight: 400;
  
}

#next {
  margin-left: 200px;
}

.chapter-container {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  position: relative;
  z-index: 3;
  background-color: #0f4371;
  padding: 10px;
  position: relative;
  bottom: 50px;
  left: 300px;
}

.side-nav{
  height: 26%;
  width: 4%;
  position: fixed;
  left: 1%;
  top: 1%;
  display: flex;
  text-align:center;
  flex-direction: column;
  background-color: #434446;
  opacity: 0.5;
  border-radius: 100px;
  // z-index: -1;
}
.side-nav-item a{

    color: #606c71;
 
}
.fas
{
  font-size: 30px;
  margin-top: 30px;
}
.fas:hover
{
  color: #1482ad;
  opacity: 1.0;
  font-size: 40px;
  cursor: pointer;
}

.page-header{
  position: relative;
  z-index: 1;
}

.banner-image{
  float: left; margin: 0 20px;
  height: 420px;
  width: 315px;
  border: solid rgb(0,50%,50%) 10px;
  border-radius: 20px;
  box-shadow: -10px -10px 10px black;
}


#info{
  margin: 0 0 0 400px;
  
}

.toc{
  clear: right;
}

.synopsis{
  margin-top: 180px;
}

@media screen and (max-width: 1400px){

  .synopsis{
    margin-top: 250px;
  }
  .side-nav{
    width: 5%;
    height: 32%;
  }
}

@media screen and (max-width: 780px){
.synopsis{
  margin-top: 150px;
}
.side-nav{
  width: 6%;
  height: 40%;
}

}

@media screen and (max-width: 430px)
{
  .banner-image{
    height: 210px;
    width: 160px;
    border-width: 5px;
  }
  #info
  {
    margin-left: 0;
  }
  .synopsis{
    margin-top: 50px;
  }
  .side-nav{
   visibility: hidden;
   width: 10%;
   right: 0;
   left: 360px;

  }
  #next
  {
    margin-left: 0;
  }
}
@media screen and (max-width: 380px)
{
  .banner-image{
    width: 230px;
    height: 300px;
    position: absolute;
    top: 90px;
    left: 0;
  }
  .main-content :first-child {
    margin-top: 10px;
}
#info
{
  margin-top: 300px;
}
  .side-nav{
    width: 15%;
    height: 40%;
    left: 0;
  }
  .chapter-container{
    left: 0;
    top: -40px;
  }
}

@media screen and (max-width: 330px)
{
  .banner-image{
    top: 130px;
  }


}