<!DOCTYPE html>
<html lang="">
<head>
  {% include analytics.html %}
<title>Shiny Made - {{page.subtitle}}</title>
<!-- Propellor Ads
<script async="async" data-cfasync="false" src="//upgulpinon.com/1?z=4539703"></script> -->
<!-- GOogle Adsense -->
<script data-ad-client="ca-pub-2314500224309004" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- MetaData -->
<meta charset="UTF-8">
<meta name="description" content="The Banished Sage who Escaped his Childhood friend Chapter {{page.description}}: {{page.subtitle}}">
<meta name="keywords" content="Banished, Sage, Chapter, Escaped. childhood, friend, who, {{page.description}}, {{page.subtitle}}">
<meta name="author" content="Shiny">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- Styles  -->
<link href="./assets/css/style.css" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" href="./assets/css/newsletter.css" type= "text/css">
<link rel="icon" href="assets/images/favicon.ico" />
<script src="https://kit.fontawesome.com/2c2aaca7e9.js" crossorigin="anonymous"></script>
</head>
<body id="top">
  <button onClick= "location.href= 'https://www.patreon.com/shinyMade/'" class="donation"><i class="fab fa-patreon"></i> Read Ahead of Others!</button>
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('./assets/images/01.jpg');"> 
  <header id="header" class="hoc clear"> 
    <div id="logo" class="two_quarter first">
      <h1><a href="/">
        <picture>
          <source srcset="assets/images/Shiny Logo.webp" type="image/webp" style= "width: 75px; height: 75px;">
          <source srcset="assets/images/Shiny Logo.png" type="image/jpeg" style= "width: 75px; height: 75px;"> 
          <img src="assets/images/Shiny Logo.png" style= "width: 75px; height: 75px;">
        </picture>
        Shiny Made </a></h1>
    </div>
  </header>
  <section id="navwrapper" class="hoc clear"> 
    <nav id="mainav">
      <ul class="clear">
        <li class="active"><a href="/">Home</a></li>
        <li><a class="drop" href="#">Novels</a>
          <ul>
            <li><a href="./bs">The Bansished Sage Who Escaped his Childhood Friend</a></li>
          </ul>
          <li> <a class="dark-mode" href="#">Dark Mode <i class="fas fa-toggle-off"></i></a></li>
      </ul>
    </nav>
  </section>
  <div id="breadcrumb" class="hoc clear"> 
    <h6 class="heading">Banished Sage: C{{page.description}}~ {{page.subtitle}} </h6>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/bs">Banished Sage</a></li>
      <li><a href="#">c{{page.description}}</a></li>
    </ul>
  </div>
</div>
<!-- End Top Background Image Wrapper -->
<div class= "row3-dark">
  <div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <div class="content three_quarter first"> 
        {{ content }}
     </div>
    <!-- / main body -->
    <div class="clear"></div>
    <div>
        {% if page.previous %}
        <a href="{{ page.previous.url }}" class="btn">Previous</a>
        {% endif %} {% if page.next %}
        <a href="{{ page.next.url }}" class="btn">Next</a>
        {% endif %}
    </div>
    {% include discord.html %}
    {% include disqus.html %}
  </main>
</div>
</div>
{% include footer.html %}