<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8" />
    <!-- googlefonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Copse&display=swap" rel="stylesheet" />
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/2c2aaca7e9.js" crossorigin="anonymous"></script>
    {% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap"
      as="style"
      type="text/css"
      crossorigin
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#157878" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"
    />
    {% include head-custom.html %}
    <link rel="icon" href="assets/favicon.ico" />
  </head>
  <body>
    <header class="page-header" role="banner">
        <img height="420" width="315" class= "banner-image" src= "/assets/images/cwm.jpg"/>
      <a href= "/">
        <h1 class="project-name">
        {{ page.title | default: site.title | default: site.github.repository_name }}
      </h1>
    </a>
    </header>
    <main id="content" class="main-content" role="main">

    <div class="info">
        <h2><em>Translator: Shiny❤️</em></h2>
        <h3>Lastest Release ~ Chapter {{site.posts[0].description}}- {{site.posts[0].subtitle}}</h3>
    </div>
    <p style= "margin-top: 180px;">{{content}}</p>
    <h2><strong>Table of Contents<strong></h2>
    <div class= "toc">
        {% for item in site.posts reversed%}
    <a href= "{{item.url}}"><p style= "margin: 0; clear: left;">{{item.description}}. {{item.subtitle}}</p></a><br/>
     {%endfor%}
        </div>
    </main>     

  </body>
</html>
