<!DOCTYPE html>
<html lang="">
<head>
  {% include analytics.html %}
<title>Shiny Made</title>
<!-- Google Adsense -->
<script data-ad-client="ca-pub-2314500224309004" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Metadata -->
<meta charset="utf-8">
<meta name="description" content="Shiny Made: The Banished Sage who Escaped his Childhood friend">
<meta name="keywords" content="Home, Banished, Sage, Contents, Escaped. childhood, friend, who">
<meta name="author" content="Shiny">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- Styles -->
<link href="assets/css/style.css" rel="stylesheet" type="text/css" media="all">
<link rel="icon" href="assets/images/favicon.ico" />
</head>
<body id="top">
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('assets/images/01.jpg');"> 
 <header id="header" class="hoc clear"> 
   <div id="logo" class="two_quarter first">
      <h1><a href="/">
        <picture>
          <source srcset="assets/images/Shiny Logo.webp" type="image/webp" style= "width: 75px; height: 75px;">
          <source srcset="assets/images/Shiny Logo.png" type="image/jpeg" style= "width: 75px; height: 75px;"> 
          <img src="assets/images/Shiny Logo.png" style= "width: 75px; height: 75px;">
        </picture>
        Shiny Made </a></h1>
    </div>
  </header>
  <section id="navwrapper" class="hoc clear"> 
    <nav id="mainav">
      <ul class="clear">
        <li class="active"><a href="/">Home</a></li>
        <li><a class="drop" href="#">Novels</a>
          <ul>
            <li><a href="/bs">The Bansished Sage Who Escaped his Childhood Friend</a></li>
          </ul>
        
      </ul>
    </nav>
  </section>
  <div id="pageintro" class="hoc clear"> 
   <article>
      <h3 class="heading">Shiny Made</h3>
      <p>Where glittery delicacies are made</p>   
    </article>
  </div>
 </div>
<!-- End Top Background Image Wrapper -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
   <section id="introblocks">
      <ul class="nospace group">
        <li class="one_third">
          <figure><a id="first_novel" class="imgover" href="/bs"><img src="https://cdn.novelupdates.com/images/2021/09/The-Banished-Sage-Who-Escaped-his-Childhood-Friend.jpg" alt=""></a>
            <figcaption>
              <h6 class="heading">The Bansished Sage Who Escaped his Childhood Friend</h6>
        
            </figcaption>
          </figure>
        </li>
      </ul>
    </section>
     <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
{% include footer.html %}